body {
  font-family: 'Roboto', sans-serif; }

#sign-in {
  width: 350px;
  margin: 10em auto 1em auto;
  text-align: center; }
  #sign-in .logo-m {
    height: 200px;
    width: 200px;
    margin: 0 auto; }
  #sign-in .brand-name-m {
    margin: 2em 0em 1.5em 0em;
    font-family: 'Slabo 27px', serif;
    color: #ffaf30; }

#header .dropdown-menu {
  left: -5em; }

#header .bg-white {
  background-color: #ffffff; }

.btn-primary {
  color: #ffffff;
  background-color: rgba(51, 89, 223, 0.8); }
  .btn-primary i {
    margin-left: 0.8em; }
  .btn-primary:hover {
    background-color: #3359df; }

.brand-name {
  font-family: 'Slabo 27px', serif;
  color: #ffaf30 !important;
  font-weight: 600; }

.nav-link, .dropdown-item {
  color: #3359df; }

.dropdown-item:hover {
  color: #ffaf30; }

.navbar-brand img {
  margin-right: 0.8em; }

.g-signin2 .abcRioButton {
  width: 200px !important;
  margin: 0 auto; }
  .g-signin2 .abcRioButton .abcRioButtonLightBlue {
    color: #3359df; }
  .g-signin2 .abcRioButton .abcRioButtonContentWrapper:hover {
    background-color: rgba(51, 89, 223, 0.8); }
    .g-signin2 .abcRioButton .abcRioButtonContentWrapper:hover .abcRioButtonLightBlue {
      color: #ffaf30; }

#landing-page {
  position: relative;
  background-image: url("/images/landing-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 100vh; }
  #landing-page:after {
    background: linear-gradient(rgba(51, 89, 223, 0.5), rgba(51, 89, 223, 0.5));
    content: '';
    height: 100%; }
  #landing-page #intro {
    text-align: center;
    margin-top: 22%; }
    #landing-page #intro .intro-text {
      color: #ffaf30; }

.stories-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
  background-color: rgba(0, 0, 0, 0.6); }
  .stories-cont .cont {
    flex: 0 1 1220px;
    padding: 10px;
    background-color: #fff;
    height: 85vh; }
    .stories-cont .cont .content {
      max-width: 960px;
      margin: 0 auto; }

#my-signin2 div {
  margin: 0 auto; }

#upload {
  padding-top: 3em; }
  #upload #image-div {
    height: 300px;
    border: 1px solid #E0E0E0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    margin-bottom: 1.8em;
    padding-top: 6em;
    background-color: #E0E0E0;
    color: rgba(51, 89, 223, 0.8); }
  #upload .post-btn {
    width: 350px;
    margin: 2em auto; }
  #upload .file-upload::-webkit-file-upload-button {
    visibility: hidden; }
  #upload .file-upload::before {
    content: 'Select image';
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 0.8em; }
  #upload .file-upload:hover::before {
    border-color: black; }
  #upload .file-upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); }

@media (max-width: 767px) {
  .hide-sm {
    display: none; }
  #header .dropdown-menu {
    width: 5rem; } }

@media (min-width: 768px) {
  #header .hide-sm {
    display: flex; }
  #header button.hide-sm {
    display: block !important; } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9jc3Mvc3R5bGUuY3NzIiwic291cmNlUm9vdCI6IiJ9*/