$brand_blue: rgb(51, 89, 223);
$brand_blue_light: rgba(51, 89, 223, 0.8);
$brand_orange: rgb(255, 175, 48);
$brand_white: #ffffff;

body{
  font-family: 'Roboto', sans-serif;  
}
#sign-in{
  width: 350px;
  margin: 10em auto 1em auto;
  // padding: 0em 4.6em;
  text-align: center;
  .logo-m{
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .brand-name-m{
    margin: 2em 0em 1.5em 0em;
    font-family: 'Slabo 27px', serif;
    color: $brand_orange;
  }
}

#header{
  .dropdown-menu{
    left: -5em;
  }
  .bg-white{
    background-color: $brand_white;
  }
}
.btn-primary{
  color: $brand_white;
  background-color: $brand_blue_light;
  i{
    margin-left: 0.8em;
  }
  &:hover{
    background-color: $brand_blue;
  }
}
.brand-name{
  font-family: 'Slabo 27px', serif;
  color: $brand_orange !important;
  font-weight: 600;
}
.nav-link, .dropdown-item{
  color: $brand_blue;
}
.dropdown-item:hover{
  color: $brand_orange;
}
.navbar-brand{
  img{
    margin-right: 0.8em;
  }
}
.g-signin2{
  .abcRioButton{
    width: 200px !important;
    margin: 0 auto;
    .abcRioButtonLightBlue{
      color: $brand_blue;
    }
    .abcRioButtonContentWrapper:hover{
      background-color: $brand_blue_light;
      .abcRioButtonLightBlue{
        color: $brand_orange;
      }
    }
  }
}

#landing-page {
  position: relative;
  background-image:url('/images/landing-bg.jpg');
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
  height: 100vh;
  &:after {
    background: linear-gradient(
      rgba(51, 89, 223, .5),
      rgba(51, 89, 223, .5));
    content: '';
    height: 100%;
  }
  #intro{
    text-align: center;
    margin-top: 22%;
    .intro-text{
      color: $brand_orange;
    }
  }
}


@media (max-width: 767px) {
  .hide-sm{
    display: none;
  }
  #header{
    .dropdown-menu{
      width: 5rem;
    }
  }
}

@media (min-width: 768px) {
  #header{
    .hide-sm{
      display: flex;
    }
    button.hide-sm{
      display: block !important;
    }
  }
}
