$brand_blue: rgb(51, 89, 223);
$brand_blue_light: rgba(51, 89, 223, 0.8);
$brand_orange: rgb(255, 175, 48);

#sign-in{
  width: 350px;
  margin: 10em auto 1em auto;
  // padding: 0em 4.6em;
  text-align: center;
  .logo-m{
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .brand-name-m{
    margin: 2em 0em 1.5em 0em;
    font-family: 'Slabo 27px', serif;
    color: $brand_orange;
  }
}

// .btn-outline-primary{
//   color: $brand_blue;
//   border-color: $brand_blue;
//   &:hover{
//     background-color: $brand_blue;
//   }
// }

.g-signin2{
  .abcRioButton{
    width: 200px !important;
    margin: 0 auto;
    .abcRioButtonLightBlue{
      color: $brand_blue;
    }
    .abcRioButtonContentWrapper:hover{
      background-color: $brand_blue_light;
      .abcRioButtonLightBlue{
        color: $brand_orange;
      }
    }
  }
}